section {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.bordureBleue {
    border: 2px solid blue;
    margin: 10px auto;
    width: 45%;

}

.bordureVerte {
    border: 2px solid green;
    width: 45%;
    margin: 10px auto;

}

.bordureOrange {
    border: 2px solid orange;
    width: 45%;
    margin: 10px auto;

}

.bordureRouge {
    border: 2px solid red;
    width: 45%;
    margin: 10px auto;

}

#onglets {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
}


.contenuOnglet {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}

article {
    text-align: center;
}

#ongletCapteur, #ongletHistorique{
    width: 40%;
    margin: 5px auto;
}

